# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/
